body
{
  background-color: lemonchiffon !important;
  width:100%;
  height:100%;
}
.nav-bar
{
  position: sticky;
  top: 0;
  z-index: 1;
}
.navbar-brand 
{
	padding-left:50px!important; 
}

.nav-link
{
	font-weight:600;
	font-size: 16px;
	padding-right: 20px!important;
}
.nav-link:hover
{
  color:orange !important;
}
#section3
{
  font-family: "My Custom Font2";
  font-size:20px;
  padding:40px;
}
input{
  outline: 1px solid crimson;
  background-color: rgba(100,100,100,0.3);
  color:crimson;
}

@font-face {
  font-family: "My Custom Font";
  src: url("Black is not a color.TTF");
}
@font-face {
  font-family: "My Custom Font3";
  src: url("Bradley-Regular.TTF");
}
@font-face {
  font-family: "My Custom Font2";
  src: url("BRADHI.TTF");
}

#d1, #d2 {
	font-family:"My Custom Font2";
	font-weight: bold;
	font-size:20px;
  color:black;
  border:1px solid black;
  border-radius:20px; 
  background-color:lemonchiffon; 
  padding: 25px;
  margin-top: 15px;
}
#d2{
 font-size:20px;
 text-align: center;
 height: 40%;
}
.projects
{
  text-align:center;
  font-family: "My Custom Font";
  color:brown;
  font-size: 20px;
  padding-top:6%;
  padding-bottom: 12%;
}

.project{
  height:200px;
  width:200px;
  border:2px solid orange;
  border-radius: 12px;
}
#project1{
background-image:url("pic1.jpeg");
background-size: contain;


}
#project2{
background-image:url("pic2.jpeg");
background-size: contain;
}
#project3{
background-image:url("pic3.jpeg");
background-size: contain;
}
.contentD 
{
  
  width: 100%;
  text-align: center; 
}

.button 
{
  margin:auto;
  padding: 6px 10px;
  background-color: orange;
  color: black;
  font-family:"My Custom Font";
  font-weight: bold;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: 700;
  font-size:17px;
  text-align: center;
  text-transform: uppercase;

}
a.button:hover
{
  color: brown;
}
#linx
{
  color:crimson;
  font-weight: bold;
  
}
#linx:hover
{
  color:brown;
}
#section2{
  background-image: url("pattern.jpg");
  background-size: contain;
  min-height: 600px;
  width: 100%;

}
.cl{
  color:slategrey;
}
.cl:hover{
color: crimson;
}
.j1{
background-image: url("sakura.png") !important;
}

.jumbotron
{
  margin-bottom: auto !important;
  box-sizing: border-box;
  background-image: url(ONIW2R0.jpg);
  background-size: contain;
  min-height: 800px;
  width: 100%;
}
.jumbo
{
padding-top:3%;
}

